.navbar-brand {
  font-family: Viga;
  font-size: 28px;
}

.nav-link {
  text-transform: uppercase;
}

body {
  background-color: #caa775;
  min-height: 200px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #1b1717;
}

#project {
  background-color: #1b1717;
}

#contact {
  background-color: #fffff;
  padding-bottom: 2rem;
}

#footer {
  background-color: #161313;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

section {
  padding-top: 5rem;
}
